{% extends 'layout.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Reset Password</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->
<br>
<div class="container">
    <div class="col-md-12">
        {% include 'includes/messages.html' %}
        <form class="ui-form-3" action="{% url 'accounts:reset-password' %}" method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Reset Password</h3>
                        <p class="section-form-contacts__info">
                            Enter your new password...
                        </p>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <input class="form-control"
                                type="email"
                                name="email"
                                placeholder="Email"
                                id="emailField"
                                required
                                value="{{ fieldValues.email }}"/>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<br>

{% endblock %}
