{% include 'layout.html' %}

{% block title %}set-password{% endblock %}

{% block content %}
<!-- Main Start -->
<div class="main-section">
    <div class="page-section" style="background:url(https://res.cloudinary.com/bennydeals/image/upload/v1630221862/bgs/car-1149997_1280_lxfubs.jpg) no-repeat;background-size:cover;min-height:175px;margin-top:-30px;margin-bottom:-129px;"></div>
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="cs-user-account-holder">
                            <div class="row">
                                {% include 'includes/messages.html' %}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="cs-user-section-title">
                                        <h4>Set New Password</h4>
                                    </div>
                                </div>
                                <form action="{% url 'accounts:reset-password' %}" method="post">
                                    {% csrf_token %}
                                    <div class="cs-field-holder">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label>Password</label>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="cs-field">
                                                <input type="password"
                                                    name="password"
                                                    placeholder="Password"
                                                    required class="single-input"
                                                    id="passwordField">
                                                <small class="float-right showPasswordToggle">show</small>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="cs-field-holder">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label>Confirm Password</label>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="cs-field">
                                                <input type="password2"
                                                    name="password2"
                                                    placeholder="Confirm Password"
                                                    required class="single-input"
                                                    id="passwordField2">
                                                <small class="float-right showPasswordToggle2">show</small>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="cs-field-holder">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-md-12">
                                            <div class="cs-field">
                                                <div class="cs-btn-submit">
                                                    <input type="submit" value="Reset" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main End -->


<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Set New Password</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->
<br>
<div class="container">
    <div class="col-md-12">
        {% include 'includes/messages.html' %}
        <form class="ui-form-3" method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3>Set New Password</h3>
                        <p class="section-form-contacts__info">
                            Enter your New Password please dont forget it this time...
                        </p>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <input class="form-control"
                                type="password"
                                name="password"
                                placeholder="Password"
                                required class="single-input"
                                id="passwordField">
                                <small class="float-right showPasswordToggle">show</small>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <input class="form-control"
                                type="password2"
                                name="password2"
                                placeholder="Confirm Password"
                                required class="single-input"
                                id="passwordField2">
                                <!-- <small class="float-right showPasswordToggle2">show</small> -->
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<br>




<script>
    const showPasswordToggle = document.querySelector(".showPasswordToggle");
    const passwordField = document.querySelector('#passwordField');

    const submitBtn = document.querySelector('.submitBtn');

    // password toggle event to display and hide password...
    const handleToggleInput = (e) => {
        if(showPasswordToggle.textContent === "show") {
            showPasswordToggle.textContent='hide';
            passwordField.setAttribute("type", "text");
        } else {
            showPasswordToggle.textContent='show';
            passwordField.setAttribute("type", "password");
        }
    };
    showPasswordToggle.addEventListener('click', handleToggleInput);


    const showPasswordToggle2 = document.querySelector(".showPasswordToggle2");
    const passwordField2 = document.querySelector('#passwordField2');

    // password toggle event to display and hide password...
    const handleToggleInput = (e) => {
        if(showPasswordToggle2.textContent === "show") {
            showPasswordToggle2.textContent='hide';
            passwordField2.setAttribute("type", "text");
        } else {
            showPasswordToggle2.textContent='show';
            passwordField2.setAttribute("type", "password");
        }
    };
    showPasswordToggle2.addEventListener('click', handleToggleInput);
</script>
{% endblock %}
