<div class="message_container">
    <div class="inbox_user_list">
        <div class="iu_heading">
            Recent Messages
        </div>
        <ul>
            {% for user in inbox_threads %}
                <li class="contact">
                    <a>
                        <div class="wrap">
                            <span class="contact-status online"></span>
                            <img class="img-fluid" src="{{ user.profile.image_url }}" alt="{{ user.username }}"/>
                            <div class="meta">
                                <h5 class="name">{{ user.full_name }}</h5>
                                <p class="preview">{{ user.get_user_last_message }}</p>
                            </div>
                            {% if user.get_user_msg_count %}
                                <div class="m_notif">{{ user.get_user_msg_count }}</div>
                            {% endif %}
                        </div>
                    </a>
                </li>
            {% empty %}
                <li class="contact">
                    <div class="wrap">
                        <h3 class="name"><i class="fa fa-inbox"></i> Message Inbox</h3>
                        <p class="preview">You currently have no message available.</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>