{% load static %}

<div class="dashboard_navigationbar dn db-992">
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i> Dashboard Navigation</button>
        <ul id="myDropdown" class="dropdown-content">
            {% if request.user.is_staff %}
                <li><a href="/admin/"><span class="flaticon-layers"></span> Admin Dashboard</a></li>
            {% endif %}
            {% if request.user.is_agent %}
                <li><a href="{% url 'properties:property_dashboard' %}"><span class="flaticon-layers"></span> Dashboard</a></li>
                <li><a href="{% url 'properties:get_my_property_list' %}"><span class="flaticon-home"></span> My Properties</a></li>
                <li><a href="{% url 'properties:create' %}"><span class="flaticon-home"></span> Add Properties</a></li>
                <li><a href="{% url 'agents:my_reviews' %}"><span class="flaticon-chat"></span> My Reviews</a></li>
                <li><a href="{% url 'wallets:fund_wallet' request.user.wallet.uid %}"><i class="fa fa-credit-card fa-lg"></i> My Wallet</a></li>
                <li><a href="{% url 'enquiries:agent_enquiry_list' %}"><i class="fa fa-commenting-o fa-lg"></i> My Enquiries</a></li>
            {% else %}
                <li><a href="{% url 'enquiries:my_enquiries' %}"><i class="fa fa-commenting-o fa-lg"></i> My Enquiries</a></li>
            {% endif %}
            <li><a href="{% url 'inboxes:inbox_msg' %}"><span class="flaticon-envelope"></span> Message</a></li>
            <li><a href="{% url 'properties:get_favourites' %}"><span class="flaticon-heart"></span> My Favorites</a></li>
            <li>
                <a href="{% url 'profiles:profile_detail' request.user.profile.slug %}">
                    <span class="flaticon-user"></span> My Profile
                </a>
            </li>
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'profiles:profile_update' request.user.profile.slug %}">
                        <i class="fa fa-cogs"></i> Update Profile
                    </a>
                </li>
            {% endif %}
            <li><a href="{% url 'accounts:logout' %}"><span class="flaticon-logout"></span> Logout</a></li>
        </ul>
    </div>
</div>

