{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block content %}
	<!-- Inner Page Breadcrumb -->
	<section class="inner_page_breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="breadcrumb_content">
						<ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Agent/Agency Registration</li>
						</ol>
						<h1 class="breadcrumb_title">Agent/Agency Registration</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Service Section Area -->
	<section class="our-service pb30">
		<div class="container">
			<div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <a data-toggle="modal" data-target=".agent_modal">
                        <div class="why_chose_us">
                            <div class="icon">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="details">
                                <h4>Register(Single Agent)</h4>
                                <p>Register as a Single Agent</p>
                            </div>
                        </div>
                    </a>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
                    <a href="#" data-toggle="modal" data-target=".agency_modal">
                        <div class="why_chose_us">
                            <div class="icon">
                                <span class="fa fa-users"></span>
                            </div>
                            <div class="details">
                                <h4>Register(Agency)</h4>
                                <p>Register as an Agency</p>
                            </div>
                        </div>
                    </a>
				</div>
			</div>
		</div>
	</section>













    <div class="sign_up_modal modal fade agent_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body container pb20">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <div class="login_form">
                                    <form method="post" action="" name="agenForm" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.GET.next }}" />

                                        <div class="heading">
                                            <h4>Register(Single Agent)</h4>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field form.business_name|attr:"required"|attr:"type:text"|attr:"placeholder:Your Business Name" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field form.business_email|attr:"required"|attr:"type:email"|attr:"placeholder:Your Business Email" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field form.business_phone|attr:"required"|attr:"type:tel"|attr:"placeholder:Business Phone(+2348031234567)" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-phone"></i></div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field form.business_logo|attr:"required"|attr:"type:file" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-image"></i></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <select id="selected_state" name="state" required class="form-control" data-live-search="true" data-width="100%">
                                                        <option value="" disabled selected>Select State</option>
                                                        {% for s in states %}
                                                            {% if s == request.user.profile.state %}
                                                                <option value="{{request.user.profile.state}}" selected>{{request.user.profile.state}}</option>
                                                            {% else %}
                                                                <option value="{{s}}">{{s}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-6">
                                                <select id="selected_city" name="city" required class="form-control" data-live-search="true" data-width="100%">
                                                    {% if request.user.profile.city %}
                                                        <option value="{{request.user.profile.city}}" disabled selected>{{request.user.profile.city}}</option>
                                                    {% else %}
                                                        <option value="" disabled selected>Select city</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field form.street_address|attr:"required"|attr:"type:text"|attr:"placeholder:Office street address" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-map-pin"></i></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-log btn-block btn-thm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#selected_state").on("change", function () {
                    let stateVal = $("#selected_state").val();
                    console.log(stateVal);
                    $.ajax({
                        url: "{% url 'properties:get_cities' %}",
                        type: "post",
                        data: {
                            "state": stateVal,
                            "csrfmiddlewaretoken": "{{csrf_token}}"
                        },
                        dataType: "json",
                        before: function () {
                            console.log(`you are about to send ${stateVal} to backend.`);
                        },
                        success: function (res) {
                            let cities = res.cities;
                            console.log(res.success);
                            $('#selected_city').empty();
                            $.each(cities, function(index, item)
                            {
                                console.log(item);
                                $("#selected_city").append("<option value='"+item +"'>"+item +"</option>");
                            });

                            console.log("worked till here... \n\n\n");
                        }
                    })
                });
            });
        </script>
    </div>


    <div class="sign_up_modal modal fade agency_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body container pb20">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <div class="login_form">
                                    <form method="post" action="" name="agenForm" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.GET.next }}" />

                                        <div class="heading">
                                            <h4>Register(Agency)</h4>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field agency_form.business_name|attr:"required"|attr:"type:text"|attr:"placeholder:Your Business Name" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field agency_form.business_email|attr:"required"|attr:"type:email"|attr:"placeholder:Your Business Email" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field agency_form.business_phone|attr:"required"|attr:"type:tel"|attr:"placeholder:Business Phone(+2348031234567)" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-phone"></i></div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field agency_form.agency_description|attr:"required"|attr:"type:text"|attr:"rows:4"|attr:"placeholder:Describe your agency" class="form-control" %}
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field agency_form.business_logo|attr:"required"|attr:"type:file" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-image"></i></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-6">
                                                <div class="input-group mb-2 mr-sm-2">
                                                    <select id="agency_selected_state" name="state" required class="form-control" data-live-search="true" data-width="100%">
                                                        <option value="" disabled selected>Select State</option>
                                                        {% for s in states %}
                                                            {% if s == request.user.profile.state %}
                                                                <option value="{{request.user.profile.state}}" selected>{{request.user.profile.state}}</option>
                                                            {% else %}
                                                                <option value="{{s}}">{{s}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-6">
                                                <select id="agency_selected_city" name="city" required class="form-control" data-live-search="true" data-width="100%">
                                                    {% if request.user.profile.city %}
                                                        <option value="{{request.user.profile.city}}" disabled selected>{{request.user.profile.city}}</option>
                                                    {% else %}
                                                        <option value="" disabled selected>Select city</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-group mb-2 mr-sm-2">
                                            {% render_field agency_form.street_address|attr:"required"|attr:"type:text"|attr:"placeholder:Office street address" class="form-control" %}
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"><i class="fa fa-map-pin"></i></div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-log btn-block btn-thm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#agency_selected_state").on("change", function () {
                    let stateVal = $("#agency_selected_state").val();
                    console.log(stateVal);
                    $.ajax({
                        url: "{% url 'properties:get_cities' %}",
                        type: "post",
                        data: {
                            "state": stateVal,
                            "csrfmiddlewaretoken": "{{csrf_token}}"
                        },
                        dataType: "json",
                        before: function () {
                            console.log(`you are about to send ${stateVal} to backend.`);
                        },
                        success: function (res) {
                            let cities = res.cities;
                            console.log(res.success);
                            $('#agency_selected_city').empty();
                            $.each(cities, function(index, item)
                            {
                                console.log(item);
                                $("#agency_selected_city").append("<option value='"+item +"'>"+item +"</option>");
                            });

                            console.log("worked till here... \n\n\n");
                        }
                    })
                });
            });
        </script>
    </div>

{% endblock %}

