{% if request.user.is_authenticated and not request.user.is_agent %}
<!-- Start Partners -->
<section class="start-partners home5 pt50 pb50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="start_partner tac-smd">
                    <h2>Become a Real Estate Agent</h2>
                    <p>We only work with the best companies around the globe</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="parner_reg_btn home5 text-right tac-smd">
                    <a class="btn" href="{% url 'agents:create' %}">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- Our Footer -->
<section class="footer_one home6 bgc-f7">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 pr0 pl0">
                <div class="footer_about_widget home6">
                    <h4>About Us</h4>
                    <p>
                        We’re reimagining how you buy, sell and rent.
                        It’s now easier to get into a place you love. So let’s do this, together.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_qlink_widget home6">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">User’s Guide</a></li>
                        <li><a href="#">Support Center</a></li>
                        <li><a href="#">Press Info</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_contact_widget home6">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled">
                        <li>info@propertydealsin9ja.com</li>
                        <li>Lekki Lagos</li>
                        <li>234, Nigeria.</li>
                        <li>+2348033210841</li>
                        <li>+2348186612324</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_social_widget home6">
                    <h4>Follow us</h4>
                    <ul class="mb30">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>
                    </ul>
                    <h4>Subscribe</h4>
                    <form class="footer_mailchimp_form home6">
                         <div class="form-row align-items-center">
                            <div class="col-auto">
                                <input type="email" class="form-control mb-2" id="inlineFormInput" placeholder="Your email">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-angle-right"></i></button>
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Footer Bottom Area -->
<section class="footer_middle_area home6 pt30 pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="footer_menu_widget home6">
                    <ul>
                        <li class="list-inline-item"><a href="#">Home</a></li>
                        <li class="list-inline-item"><a href="#">Properties</a></li>
                        <li class="list-inline-item"><a href="#">News</a></li>
                        <li class="list-inline-item"><a href="#">Agents</a></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="copyright-widget home6 text-right">
                    <p>© 2022 propertydeals9ja.com. Made with love by genas.ng</p>
                </div>
            </div>
        </div>
    </div>
</section>